body{
    min-height: 100vh;
    background-color: slategrey !important;
}

.container{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: slategrey;
}

.quiz-card{
    width: 45rem;
}

.question_footer{
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quiz-answer-card:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success {
  background-color: rgb(115, 155, 115) !important;
  color: white !important;
}

.bg-danger {
  background-color: rgb(155, 115, 115) !important;
  color: white !important;
}

.endText{
    text-align: center;
}

.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    padding: 15px;
    font-weight: bold;
    font-size: 16px;
    border-radius: 0;
    background-color: rgb(216, 236, 255);
}

.navbar, .container-fluid, .navbar, .bg-body-tertiary {
    background-color: rgb(152, 191, 205);
    padding: 0;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
    
}

.logo, .navbar-brand{
    padding-left: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
}

.card{
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
}